@charset "UTF-8";
@import "common/var";

.fe-button{
  color: $--color-text-primary;
  background-color: $--color-primary;
  white-space: nowrap;
  line-height: 1;
  -webkit-appearance: none;
  border:1px solid $--border-color-base;
  &:hover{
    cursor: pointer;
    background-color:$--color-primary-light-4;
  }
}
