@charset "UTF-8";
@import "common/var";
@import "mixin/mixin";

@include b(button) {
  color: $--color-white;
  background-color: $--color-primary;
  white-space: nowrap;
  line-height: 1;
  outline: none;
  padding: 12px 20px;
  border-radius: $--border-radius-base;
  -webkit-appearance: none;
  border: $--border-width-base solid $--border-color-base;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }
}



