@charset "UTF-8";
@import "common/var";
@import "mixin/mixin";
@import "mixin/util";


@include b(checkbox) {
  @include utils-user-select(none);
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  .fe-checkbox-native {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    outline: none;
    z-index: -1;
    opacity: 0;
  }
  .fe-checkbox-inner {
    background: $--color-white;
    border: $--border-base;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    &.is-checked {
      &{
        background: $--color-primary;
        border: 1px solid $--color-primary;
      }

      &::after{
        content: "";
        border: 2px solid #fff;
        box-sizing: content-box;
        position: absolute;
        width: 3px;
        height: 7px;
        border-left: 0;
        border-top: 0;
        left: 4px;
        top: 2px;
        transform: rotate(45deg);
      }
    }
  }
  .fe-checkbox-label {
    display: inline-block;
    vertical-align: middle;
  }
}